html {
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}


.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}


.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.embed-responsive-4by3 {
  padding-bottom: 75%;
}
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: calibri;
}

iframe {
  width: 100%;
  height: 800px;
  overflow: hidden;
  margin-bottom: 100px;

}

a {
  color:#444 ;
}

header {
  position: absolute;
  top: 20px;
  padding: 30px;
  color:#fff ;
  text-align: center;
  text-shadow: #000 2px 2px;

<div id="bg_container">

}

nav {
  width: 200px;
  font-family:verdana;
  height: 800px;
  float: left; /* don't modify */
  background-color: #666;
  margin-right: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
}

nav ul li {
  margin-bottom: 10px;
}

nav ul li a {
  text-decoration: none;
}

section {
  width: 500px;
  float: left; /* don't modify */
  padding: 20px;
  color: #888
  background-color: #555
  text-align: center;
}

footer {
  clear: left; /* don't modify */
  padding: 10px;
  background: #333;
  text-align: center;
}
